<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WP Search Engine - File Maintenance </title>
<style type="text/css">
#title { text-align: center }
#logo { float:left }
#files { float:left; margin-left:3em }
#footer {clear:both; text-align: center }
</style>
</head>
<body>

<h1 id="title">WP Search Engine &mdash; File Maintenance</h1>

<div id="logo">
<!-- Image from https://www.kisscc0.com/clipart/the-astronomical-telescope-refracting-telescope-dr-vl3x62/,
     under the CC0 license, d/l 3/27/2019: -->
<img th:src="@{images/logo.png}"/>
</div>

<div id="files">
<p>place-holder</p>
</div>

<div id="footer">
<form method="POST" th:action="@{/logout}">
	<input type="submit" value="Logout">
</form>
<p>Spring 5 version of Search Engine Model Solution</p>
</div>

</body>
</html>